@import '../../../styles/mixins.scss';

.project {
	width: 100%;
	scroll-snap-align: unset;
	img {
		max-height: 80vh;
	}
	position: relative;
	@include mobile {
		padding-top: var(--8x);
	}
}

.cover {
	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: var(--3x);
	align-items: center;

	// position: sticky;
	top: var(--20x);
	z-index: 3;

	img {
		height: auto;
		aspect-ratio: 3 / 2;
		object-fit: cover;
	}
}

.title_block {
	grid-column: 1/ 5;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	h1,
	p {
		text-align: right;
		@include mobile {
			text-align: left;
		}
	}
	p {
		margin-bottom: 1em;
	}
	@include mobile {
		grid-column: 1 / -1;
		align-items: flex-start;
		gap: var(--2x);
	}

	@include mobile {
		padding: 0;
	}
}

.cover_img {
	grid-column: 5/-1;
	@include mobile {
		grid-column: 1 / -1;
	}
}

.project_cta {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--4x);
}

.content {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: var(--3x);
	width: 100%;
}

.other_content {
	grid-column: 1/7;
	display: flex;
	flex-direction: column;
	gap: var(--8x);
	@include mobile {
		grid-column: 1 / -1;
	}
}

.project_texts {
	grid-column: 5/-1;
	margin: var(--8x) 0;
	display: flex;
	flex-direction: column;
	padding: var(--8x);
	gap: var(--3x);
	border-radius: var(--8x);
	background: var(--basics-primary-90);

	/* Glass */
	box-shadow: 0px 11px 7px 0px var(--basics-primary-50);
	backdrop-filter: blur(10px);
	@include mobile {
		grid-column: 1 / -1;
	}
}
