.projects_container {
	display: flex;
	flex-direction: column;
	gap: var(--8x);
}
.projects {
	display: flex;
	flex-wrap: wrap;
	gap: var(--7x);
	width: 100%;
	margin-bottom: var(--8x);
}

.more {
	width: 100%;
	padding: 0 0 var(--8x);
	display: grid;
	place-items: center;
}

// .more_link {
// 	color: currentColor;
// 	font-size: var(--4x);
// 	font-weight: 300;
// 	display: flex;
// 	align-items: center;
// 	gap: var(--1x);

// 	&:hover {
// 		text-decoration: underline;
// 	}
// }

.more_link {
	display: inline-flex;
	min-height: var(--10x);
	padding: var(--2x) var(--3x);
	align-items: center;
	gap: var(--3x);
	border-radius: var(--3x);
	border: 1px solid currentColor;
	font-weight: 700;
	font-size: var(--6x);
	color: var(--basics-bg);
	background: var(--basics-secondary);
}
