.tags_container {
  --tags-html: #e44d26;
  --tags-css: #264de4;
  --tags-js: #f7df1e;
  --tags-react: #00d8ff;
  --tags-gsap: #88ce02;
  --tags-stylus: #b3d107;
  --tags-sass: #cd6799;
  --tags-ai: #ff9a00;
  --tags-ps: #31a8ff;
  --tags-id: #ff3366;
  --tags-ae_pr_au: #9999ff;
  --tags-figma: #a259ff;
  --tags-sketch: #fdad00;
  --tags-typescript: #3178c6;
  --tags-tailwind: #38bdf8;
  --tags-pug: #a86454;
  --tags-svg: #ffb13b;

  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  gap: var(--2x);
  flex-wrap: wrap;
  margin-block-start: var(--3x);
  transition: all 0.3s ease-in-out;
}

.tag {
  --_tag-color: var(--basics-primary-light);
  font-size: 14px;
  font-weight: 400;
  // color: var(--basics-text);
  padding: var(--o5x) var(--2x);
  border-radius: var(--4x);
  position: relative;

  span {
    // color: var(--basics-text);
    color: var(--white);
    // mix-blend-mode: overlay;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: var(--4x);
  }
  &:before {
    opacity: 0.6;
    background-color: var(--_tag-color);
  }
  &:after {
    border: 1px solid var(--_tag-color);
    opacity: 0.2;
  }
}
.html {
  --_tag-color: var(--tags-html);
}
.css {
  --_tag-color: var(--tags-css);
}
.javascript,
.js {
  --_tag-color: var(--tags-js);
}
.react,
.react_js {
  --_tag-color: var(--tags-react);
}
.gsap {
  --_tag-color: var(--tags-gsap);
}
.sass {
  --_tag-color: var(--tags-sass);
}
.illustrator {
  --_tag-color: var(--tags-ai);
}
.photoshop {
  --_tag-color: var(--tags-ps);
}
.indesign {
  --_tag-color: var(--tags-id);
}
.after,
.after_effects,
.premiere,
.audition {
  --_tag-color: var(--tags-ae_pr_au);
}
.figma {
  --_tag-color: var(--tags-figma);
}
.sketch {
  --_tag-color: var(--tags-sketch);
}
.typescript {
  --_tag-color: var(--tags-typescript);
}
.tailwind {
  --_tag-color: var(--tags-tailwind);
}
.stylus {
  --_tag-color: var(--tags-stylus);
}
.pug {
  --_tag-color: var(--tags-pug);
}
.svg {
  --_tag-color: var(--tags-svg);
}
