.socialbar {
	display: flex;
	flex-wrap: wrap;
	gap: var(--6x);
	--icon-size: var(--8x);

	a {
		position: relative;

		// font-size: var(--icon-size);
		color: var(--basics-primary);
		transition: all 0.3s ease-in-out;

		svg {
			width: 1em;
			height: 1em;
		}

		&:hover {
			color: var(--basics-secondary);
			.tooltip {
				opacity: 1;
			}
		}
	}
}

.tooltip {
	position: absolute;
	left: 50%;
	top: 105%;
	transform: translateX(-50%);
	width: max-content;
	background: var(--basics-bg);
	color: var(--basics-text);
	opacity: 0;
	font-size: 0.5em;
	padding: var(--2x);
	border-radius: var(--2x);
	transition: all 0.2s ease-in-out;
}
