.socialbar {
	display: flex;
	flex-wrap: wrap;
	gap: var(--6x);
	--icon-size: var(--8x);

	a {
		position: relative;
		display: block;
		color: var(--basics-primary);
		transition: all 0.3s ease-in-out;

		svg {
			width: 1em;
			height: 1em;
		}

		&:hover {
			color: var(--basics-secondary);

			& + .tooltip_container .tooltip {
				opacity: 1;
			}
		}
	}
}

.tooltip_container {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	display: none;
}

.tooltip_container_active {
	transition: all 0.2s ease-in-out;
	opacity: 1;
	display: block;
}

.tooltip {
	position: relative;
	transform: translate(-50%, 0);
	width: max-content;
	min-width: 4ch;
	background: var(--basics-bg);
	color: var(--basics-text);
	opacity: 1;
	font-size: 0.5em;
	padding: var(--2x);
	border-radius: var(--2x);
	filter: drop-shadow(0 0 2px var(--basics-primary));
	// &:after {
	// 	position: absolute;
	// 	content: '';
	// 	border: 10px solid transparent;
	// 	border-top-color: var(--basics-bg);
	// 	top: 100%;
	// 	left: 50%;
	// 	margin-left: -10px;
	// }
}
