@import '../../styles/mixins', '../../styles/utilities';

.card {
	flex: 1 0 auto;
	height: 290px;

	background-image: url('/images/default_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	min-width: 290px;
	border-radius: var(--8x);
	box-shadow: 0 0 10px var(--basics-primary-80);
	padding: var(--5x);
	overflow: hidden;
	position: relative;
	z-index: 0;
	transition: all 0.3s ease-in-out;
	@extend .custom-bevel;

	h1 {
		font-size: 2rem;
		font-weight: 700;
		color: var(--basics-primary);
	}

	h2 {
		font-size: 1rem;
		font-weight: 500;
	}

	img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
		transition: all 0.3s ease-in-out;
		transform: scale(1.1);
	}

	&:before {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(116deg, var(--basics-primary-90) 37%, transparent 74%);
		z-index: -1;
		transform: scale(1.1);
	}

	&:hover {
		transform: scale(1.1);

		.project_cta {
			opacity: 1;
		}

		.project_info {
			& > div {
				opacity: 0;
			}
		}

		img {
			transform: scale(1);
		}
	}
	@include tablet {
		max-width: 100%;
	}
	@include mobile {
		width: 100%;
	}
}

.card_link {
	position: absolute;
	inset: 0;
	z-index: 2;

	display: grid;
	place-items: center;
	font-size: 4em;
	transition: opacity 0.3s;
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}

.project_info {
	display: flex;
	flex-direction: column;
	z-index: 0;
}

.project_cta {
	position: absolute;
	inset: auto var(--5x) var(--5x) auto;
	z-index: 3;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--4x);
	align-self: stretch;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
