@import '../../styles/mixins';

.nav {
	ul {
		display: flex;
		padding-top: var(--2x);
		gap: var(--6x);

		li {
			list-style: none;
			color: var(--basics-primary);
		}
	}
	@include mobile {
		grid-column: 2/3;
	}
}
.nav_link {
	color: currentColor;
	font-size: var(--4x);
	font-weight: 300;
	display: flex;
	align-items: center;
	gap: var(--1x);
	text-underline-offset: var(--1x);

	&:hover {
		text-decoration: underline;
	}

	@include mobile {
		flex-direction: column;
	}
}

.active {
	color: var(--basics-secondary);
	text-decoration: underline;
}
