@import '../../styles/mixins';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--2x) var(--6x);
	height: 80px;
	position: fixed;
	inset: 0 0 auto;
	z-index: 10;

	@include desktopLG {
		padding: var(--2x) 0;
	}
	@include desktop {
		padding: var(--2x) var(--6x);
	}

	@include mobile {
		display: none;
	}

	&:before {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);
		background: var(--basics-primary-80);
		@include effect-style-glass;
		z-index: -1;
	}
}

.header_logo {
	display: flex;
	align-items: baseline;
	gap: var(--4x);
}
.h1 {
	font-size: 32px;
	font-weight: 700;
	color: var(--basics-secondary);
	@include mobile {
		display: flex;
		flex-direction: column;
		line-height: 0.9;
	}
}

.h2 {
	font-size: 24px;
	font-weight: 300;
	line-height: normal;
	@include mobile {
		display: none;
	}
}
.role_main {
	color: var(--basics-primary);
}
