@import '../../styles/mixins';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--2x) var(--6x);
	height: 80px;
	position: fixed;
	inset: 0 0 auto;
	z-index: 20;

	@include desktopLG {
		padding: var(--2x) 0;
	}
	@include desktop {
		padding: var(--2x) var(--6x);
	}

	@include mobile {
		display: grid;
		grid-template-columns: 64px 1fr 64px;
		place-items: center;

		gap: var(--5x);
		inset: auto 0 0;
		padding: var(--2x) 0;
	}

	&:before {
		position: absolute;
		content: '';
		top: -10px;
		bottom: 0;
		left: 50%;
		width: calc(100vw + 20px);
		transform: translateX(-50%);
		background: var(--basics-primary-80);
		@include effect-style-glass;
		z-index: -1;
		display: none;
		@include mobile {
			top: 0;
			bottom: -10px;
			display: block;
		}
	}
}

.header_bg {
	position: absolute;
	top: -10px;
	bottom: 0;
	left: 50%;
	width: calc(100vw + 20px);
	transform: translateX(-50%);
	background: var(--basics-primary-80);
	@include effect-style-glass;
	z-index: -1;
	@include mobile {
		display: none;
	}
}

.header_logo {
	display: flex;
	align-items: baseline;
	gap: var(--4x);
	@include mobile {
		grid-column: 1/2;
	}
}
.h1 {
	font-size: var(--8x);
	font-weight: 700;
	color: var(--basics-secondary);
	@include mobile {
		display: flex;
		flex-direction: column;
		line-height: 0.9;
	}
}

.h2 {
	font-size: 24px;
	font-weight: 300;
	line-height: normal;
	@include tablet {
		display: none;
	}
}
.role_main {
	color: var(--basics-primary);
}
