@import '../../styles/utilities', '../../styles/mixins.scss';

.image_frame {
	border-radius: var(--8x);
	overflow: hidden;
	min-height: auto;
	@extend .custom-bevel;
	img {
		border-radius: inherit;
		display: block;
		width: 100%;
		height: 100%;
	}
}
