@import '../../styles/utilities', '../../styles/mixins.scss';

.image_frame {
	min-height: 200px;
	@extend .custom-bevel;
	display: flex;
	flex-direction: column;

	img {
		border-radius: var(--8x);
		display: block;
		width: 100%;
		height: 100%;
	}

	p {
		color: var(--primary-text);
		padding: var(--2x) var(--4x);
		font-size: 0.9em;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			inset: auto var(--8x) 0;
			background: linear-gradient(90deg, transparent, var(--basics-secondary) 10%, transparent);
			opacity: 0.3;
			height: 1px;
		}
	}
}
