@import 'scss_variables', 'mixins', 'variables';
// @use 'mixins';
// @import 'variables';

:root {
	--basics-primary: var(--blue-blue05);
	--basics-secondary: var(--yellow-yellow05);
	--basics-bg: var(--blue-blue09);
	--basics-text: var(--blue-blue01);

	/* Spaces */

	--wrapper: 1164px;

	/* Text-size styles */
	--text-link: 18px;
	--h2: 24px;
	--h1: 48px;
	--tag-text: 14px;

	/* Effect styles */
	--glass: 0px 11px 7px rgba(4, 29, 37, 0.5);
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

@media (max-width: 1163px) {
	:root {
		--wrapper: 1000px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background: var(--basics-bg);
}

body {
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--6x) var(--10x);
}

.section-title {
	width: 100%;
	max-width: var(--wrapper);
	padding: var(--3x) 0px;

	h1 {
		@include text-style-h-1;
		width: 100%;
	}
}

.portfolio {
	// display: grid;
	// grid-template-columns: repeat(3, 1fr);
	display: flex;
	flex-wrap: wrap;
	gap: var(--7x);
	width: 100%;
	max-width: var(--wrapper);
}

.card {
	max-width: 454px;
	flex-grow: 1;
	border: 2px solid transparent;
	border-image: $color-stroke-glow;

	width: auto;
	height: 290px;
	background: var(--blue-blue08);
	border-radius: var(--8x);
	padding: var(--5x);
	overflow: hidden;
	position: relative;
	z-index: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h1 {
		font-size: 2rem;
		font-family: 'Montserrat';
		font-weight: 700;
		color: var(--basics-primary);
	}

	img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
	}

	&:before {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(116deg, rgba(4, 29, 37, 0.9) 37%, rgba(4, 29, 37, 0) 74%);
		z-index: -1;
	}
}
