@import 'mixins';

:root {
	/* Colors */

	--yellow-yellow09: hsl(42, 66%, 8%);
	--yellow-yellow08: hsl(42, 68%, 21%);
	--yellow-yellow07: hsl(42, 67%, 33%);
	--yellow-yellow06: hsl(42, 67%, 46%);
	--yellow-yellow05: hsl(42, 94%, 58%);
	--yellow-yellow04: hsl(42, 93%, 68%);
	--yellow-yellow03: hsl(42, 95%, 78%);
	--yellow-yellow02: hsl(42, 94%, 88%);
	--yellow-yellow01: hsl(42, 100%, 98%);

	--blue-blue09: hsl(195, 80%, 8%);
	--blue-blue08: hsl(195, 41%, 25%);
	--blue-blue07: hsl(195, 33%, 42%);
	--blue-blue06: hsl(195, 42%, 58%);
	--blue-blue05: hsl(195, 84%, 75%);
	--blue-blue04: hsl(195, 84%, 81%);
	--blue-blue03: hsl(195, 84%, 87%);
	--blue-blue02: hsl(195, 84%, 93%);
	--blue-blue01: hsl(195, 84%, 98%);

	/* Spaces */

	--o5x: 2px;
	--1x: 4px;
	--2x: 8px;
	--3x: 12px;
	--4x: 16px;
	--5x: 20px;
	--6x: 24px;
	--7x: 28px;
	--8x: 32px;
	--9x: 36px;
	--10x: 48px;
	--20x: 96px;

	--basics-primary: var(--blue-blue05);
	--basics-primary-light: var(--blue-blue03);
	--basics-secondary: var(--yellow-yellow05);
	--basics-secondary-light: var(--yellow-yellow03);

	--basics-bg: var(--blue-blue09);
	--basics-text: var(--blue-blue01);

	--basics-primary-90: hsla(195, 80%, 8%, 0.9);
	--basics-primary-80: hsla(195, 80%, 8%, 0.8);
	--basics-primary-50: hsla(195, 80%, 8%, 0.5);

	/* Spaces */

	--wrapper: 1024px;

	/* Text-size styles */
	--h1: 48px;
	--h2: 24px;
	--p: 18px;
	--text-link: 18px;
	--tag-text: 14px;

	/* Effect styles */
	--glass: 0px 11px 7px hsla(195, 80%, 8%, 0.5);

	--color-stroke-glow: radial-gradient(rgba(4, 29, 37, 0.016) 0%, rgba(4, 29, 37, 0.016) 100%);
	color: var(--basics-text);
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--basics-primary: var(--blue-blue08);
		--basics-primary-light: var(--blue-blue05);
		--basics-secondary: var(--blue-blue07);
		--basics-secondary-light: var(--blue-blue03);

		--basics-bg: var(--blue-blue01);
		--basics-text: var(--blue-blue09);

		--basics-primary-90: hsla(195, 84%, 98%, 0.9);
		--basics-primary-80: hsla(195, 84%, 98%, 0.8);
		--basics-primary-50: hsla(195, 84%, 98%, 0.5);
	}
}
@include desktopLG {
	:root {
		--p: 18px;
	}
}
@include desktop {
	:root {
		--p: 16px;
	}
}
@include tablet {
	:root {
		--10x: 40px;
		--p: 16px;
	}
}
@include mobile {
	:root {
		--p: 16px;

		--8x: 16px;
		--10x: 40px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	background: var(--basics-bg);
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
	@include tablet {
		scroll-snap-type: none;
	}
}

html,
body {
	max-width: 100vw;
	max-width: 100dvw;
	font-family: var(--main-font-family);
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	--gra-rad: 64%;
	display: grid;
	grid-template-rows: min-content 1fr auto;
	gap: 0px;
	grid-template-areas:
		'header'
		'main'
		'footer';
	min-height: 100vh;
	padding: 0 var(--10x) 0;

	&:before {
		transition: opacity 0.3s ease-in-out;
		content: '';
		position: fixed;
		inset: 0;
		background: radial-gradient(var(--gra-rad) var(--gra-rad) at 100% 50%, var(--basics-primary), transparent), radial-gradient(var(--gra-rad) var(--gra-rad) at 0% 100%, var(--basics-secondary), transparent), radial-gradient(var(--gra-rad) var(--gra-rad) at 0% 0%, var(--basics-text), transparent);
		opacity: 0.05;
		z-index: -1;
	}
	&:hover {
		&:before {
			opacity: 0.11;
		}
	}

	& > header,
	& > main,
	& > footer {
		margin: 0 auto;
		width: 100%;
		max-width: var(--wrapper);
	}

	@include mobile {
		padding: 0 var(--4x) 80px;
	}
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	gap: var(--4x);

	@include mobile {
		padding-top: var(--4x);
	}
}

footer {
	grid-area: footer;
	scroll-snap-align: start;
	@include tablet {
		scroll-snap-align: unset;
	}
}

section {
	min-height: calc(100vh - 80px);
	min-height: calc(100dvh - 80px);
	padding-top: var(--20x);
	scroll-snap-align: start;

	&.only-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--8x);
		padding: var(--8x);
	}
	@include mobile {
		padding-top: var(--8x);
	}
}

.section-content {
	display: flex;
	gap: var(--3x);
	&-image {
		width: 30%;
		img {
			width: 100%;
		}
		@include mobile {
			width: 100%;

			img {
				max-height: 40vh;
			}
		}
	}
	&-text {
		width: 70%;
		p {
			@supports (text-wrap: balance) {
				text-wrap: balance;
			}
		}
		p:not(:last-child) {
			margin-bottom: 1em;
		}
		@include mobile {
			width: 100%;
		}
	}
	@include mobile {
		flex-direction: column;
	}
}

p {
	font-size: var(--p);
}

img {
	object-fit: cover;
}

/*----------  helpers  ----------*/

.scroll-end {
	scroll-snap-align: start;
}
