@import '../../styles/mixins';

.logo_container {
	--speed: 0.5s;
	--logo-size: 74px;
	color: var(--basics-text);
	font-size: var(--logo-size);
	display: flex;
	flex-direction: column;
	align-content: center;
	line-height: 0.9;
	overflow: hidden;
	flex-shrink: 0;

	@include desktop {
		--logo-size: 56px;
	}
	@include tablet {
		--logo-size: 48px;
	}

	&.normal {
		.to_hide {
			font-size: 0;
		}
		.hidden {
			opacity: 1;
		}
		.logo_text {
			color: var(--basics-secondary);
		}
	}

	p {
		font-size: var(--logo-size);
	}
}

.logo_name {
	font-weight: 300;
	opacity: 0.6;
	transition: all var(--speed) ease-in-out;
}

.logo_text {
	font-weight: 700;
	transition: all var(--speed) ease-in-out;
}

.hidden {
	opacity: 0;
}
