@import '../../styles/scss_variables', '../../styles/mixins';

.logo_container {
	--speed: 0.5s;
	--speed2x: calc(var(--speed) / 2);
	color: var(--basics-text);
	font-size: 74px;
	display: flex;
	flex-direction: column;
	align-content: center;
	line-height: 0.9;
	width: 8ch;
	overflow: hidden;
	min-height: 3em;
	flex-shrink: 0;

	&:hover {
		.to_hide {
			font-size: 0;
		}
		.hidden {
			opacity: 1;
		}
		.logo_text {
			color: var(--basics-secondary);
		}
	}

	p {
		font-size: 74px;
	}
}

.logo_name {
	font-weight: 300;
	opacity: 0.6;
	transition: all var(--speed) ease-in-out;
}

.logo_text {
	font-weight: 700;
	transition: all var(--speed) ease-in-out;
}

.hidden {
	opacity: 0;
}
