@import '../../styles/utilities', '../../styles/mixins';

.footer {
	display: flex;
	max-width: var(--wrapper);
	padding: var(--6x);
	height: 80px;
	justify-content: space-between;
	align-items: center;
	@extend .custom-bevel;

	span {
		font-size: var(--p);
	}
	@include mobile {
		display: none;
	}
}
