@import '../../styles/utilities', '../../styles/mixins';

.footer {
	display: flex;
	max-width: var(--wrapper);
	padding: var(--6x);
	height: 80px;
	justify-content: space-between;
	align-items: center;
	@extend .custom-bevel;

	@include mobile {
		display: none;
	}
}

.footer_info {
	display: grid;
	grid-auto-rows: auto;
	gap: var(--1x);
	opacity: 0.8;
}

.made_with {
	font-size: var(--3x);
}
