@import '../../styles/utilities';

.footer {
	display: flex;
	max-width: var(--wrapper);
	padding: var(--6x);
	justify-content: space-between;
	align-items: center;
	@extend .custom-bevel;
	span {
		font-size: var(--p);
	}
}
